#listed-card-container {
    color: white;
    font-family: Tahoma, Helvetica, sans-serif;
    text-shadow: 1px 1px #424043;
    margin-top: .44rem;
    margin-bottom: .1rem;
}

#card-bullet {
    height: 1.25rem;
    vertical-align: middle;
}