<div 
    class="card-space"
    [ngClass]="{
        'card-space--vacant': metadata.owner === 'vacant',
        'card-space--opponent-owned': metadata.owner === 'opponent',
        'card-space--player-owned': metadata.owner === 'player',
        'card-space--peek': isPeeked,
        'card-space--unpeek': !isPeeked
    }"
    (mouseenter)="togglePeek()"
    (mouseout)="togglePeek()"
>

    <card 
        class="card-space--occupied"
        *ngIf="metadata.cardData" 
        [cardData]="metadata.cardData">
    </card>

    <div 
        class="card-space--vacant"
        *ngIf="placement == 'field' && !metadata.cardData"
    >
        <img src="assets/cards/empty-card-placeholder.png"/>
    </div>
        
</div>
