.player-hand {
    width: 0;
}

.card-1 {
    position: absolute;
    margin-top: -9.5rem;
}

.card-2 {
    position: absolute;
    margin-top: .5rem;
}

.card-3 {
    position: absolute;
    margin-top: 10rem;
}

.card-4 {
    position: absolute;
    margin-top: 19.25rem;
}
