#card1 {
    position: absolute;
    margin-top: -9.5rem;
}

#card2 {
    position: absolute;
    margin-top: .5rem;
}

#card3 {
    position: absolute;
    margin-top: 10rem;
}

#card4 {
    position: absolute;
    margin-top: 19.25rem;
}
