#game-container {
    display: grid;
    grid-template-columns: .8fr 1fr 1fr;
}

#opponent-hand {
    padding: 0 4rem 0 3rem;
}

#player-hand {
    padding: 0 0 0 8rem;
}

#navbar {
    margin-bottom: 1rem;
}