<div id="battle-field-container" class="grid">
    <card-space id="t-l-card" class="card"></card-space>
    <card-space id="t-m-card" class="card"></card-space>
    <card-space id="t-r-card" class="card"></card-space>
    <card-space id="c-l-card" class="card"></card-space>
    <card-space id="c-m-card" class="card"></card-space>
    <card-space id="c-r-card" class="card"></card-space>
    <card-space id="b-l-card" class="card"></card-space>
    <card-space id="b-m-card" class="card"></card-space>
    <card-space id="b-r-card" class="card"></card-space>
</div>
